[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
apache-airflow = {extras = ["celery"], version = "==2.9.2"}

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.3"
